<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>

<body style="font-family: Arial; background:#f5f6fa; padding:20px">

<div style="max-width:520px;margin:auto;background:white;padding:24px;border-radius:10px">

    <h2>Yêu cầu đặt lại mật khẩu</h2>

    <p>Bạn vừa yêu cầu reset mật khẩu.</p>

    <p>Mã OTP của bạn là:</p>

    <div style="
        font-size:28px;
        font-weight:bold;
        color:#4f46e5;
        letter-spacing:4px;
        margin:20px 0"
         th:text="${otp}">
    </div>

    <p>Mã có hiệu lực trong 5 phút.</p>

    <p style="color:#777;font-size:13px">
        Nếu bạn không thực hiện yêu cầu này, hãy bỏ qua email.
    </p>

</div>

</body>
</html>
